<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Airline Ticket Booking </title>
  <link type="text/css" th:href="@{/frontend/css/main.css}">
  <link type="text/css" th:href="@{/frontend/css/bootstrap.min.css}">
  <link type="text/css" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script type="text/javascript" th:href="@{/frontend/js/jquery-3.7.1.min.js}"></script>
  <script type="text/javascript" th:src="@{http://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js}" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
<!-- navbar start -->
<nav class="navbar navbar-expand-lg bg-body-tertiary py-2">
  <div class="container">
    <a class="navbar-brand text-primary fw-bolder fs-4" href="">Cheap Air</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-semibold text-uppercase">
        <li class="nav-item dropdown">
          <a class="nav-link" th:href="@{/customer/flight}">
            flights
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" th:href="@{/customer/info}">
            My Profile
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" th:href="@{/customer/booking}">
            My Booking
          </a>
        </li>
      </ul>
      <ul class="navbar-nav fw-semibold" role="">
            <ul th:if="${session.username}" class="navbar__user">
              <li class="navbar__user-item"><a class="nav-link">Welcome <span th:text="${session.username}"></span></a></li>
              <li class="navbar__user-item"><a class="nav-link" th:href="@{/auth/login}">Đăng xuất</a></li>
            </ul>
            <ul th:unless="${session.username}" class="navbar__user">
              <li class="navbar__user-item"><a class="nav-link" th:href="@{/auth/register}">Đăng ký</a></li>
              <li class="navbar__user-item"><a class="nav-link" th:href="@{/auth/login}">Đăng nhập</a></li>
            </ul>
      </ul>
    </div>
  </div>
</nav>

<!-- navbar end -->
<main>
  <style>
    #formLocation {
      z-index: 9999;
    }

    .travelPerson,
    .travelSenior,
    .travelChild {
      width: 50px;
    }

    .location {
      margin-top: -50px;
    }
  </style>

  <div class="hero-bg bg-primary" style="margin: 0 0 7rem 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-light py-5">
          <h1 class="fs-2 fw-bolder">Book Cheap Flights from Over 500 Airlines!</h1>
          <h6 class="pt-4">
            <span class="bg-warning text-secondary rounded-circle px-1"><i class="ri-phone-fill fs-6"></i></span>
            Call us 24/7 at <b class="text-warning">1-845-848-0154</b> to Get Cheap Flights!
          </h6>
        </div>
        <div class="col-md-12 z-3">
          <div class="card">
            <div class="card-header py-0">
              <nav>
                <div class="nav nav-tabs fw-semibold fs-6 px-3 pt-1" id="nav-tab" role="tablist">
                  <button class="nav-link active py-2" id="nav-home-tab" data-bs-toggle="tab"
                          data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                          aria-selected="true"><i class="ri-plane-line"></i> Flights</button>
                </div>
              </nav>
            </div>
            <div class="card-body filtering_card">
              <div class="tab-content  px-4" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab" tabindex="0">
                  <form id="flightForm" th:action="@{customer/search}" method="POST" class="row">
                    <div class="col-md-12 d-md-flex fs-6 fw-semibold py-3 px-3">
                      <div class="d-flex justify-content-md-start justify-content-center">
                        <div class="form-check me-4">
                          <input class="form-check-input" type="radio" name="flight"
                                 id="round_trip" value="round_trip">
                          <label class="form-check-label" for="round_trip">
                            Round Trip
                          </label>
                        </div>
                        <div class="form-check me-4">
                          <input class="form-check-input" type="radio" name="flight"
                                 id="one_way" value="one_way">
                          <label class="form-check-label" for="one_way">
                            One Way
                          </label>
                        </div>

                      </div>
<!--                      <div-->
<!--                              class="d-flex align-items-center justify-content-md-start justify-content-center mt-md-0 mt-2">-->
<!--                        <div class="form-check me-4">-->
<!--                          <input class="form-check-input" type="radio"-->
<!--                                 name="flight" id="multi_city" value="multi_city">-->
<!--                          <label class="form-check-label" for="multi_city">-->
<!--                            Multi City-->
<!--                          </label>-->
<!--                        </div>-->
<!--                        <span class="flights_span bg-secondary"></span>-->
<!--                        <select name="" id="" style="appearance: none;"-->
<!--                                class="border border-0 bg-transparent ms-4 fs-6 fw-semibold text-primary">-->
<!--                          &lt;!&ndash; <option value="">(select)</option> &ndash;&gt;-->
<!--                          <option value="">Coach</option>-->
<!--                          <option value="">Premium Economy</option>-->
<!--                          <option value="">Business</option>-->
<!--                          <option value="">First</option>-->
<!--                        </select>-->
<!--                      </div>-->
                    </div>

                    <div class="col-md-12 pt-2">
                      <div class="row">
                        <div id="convertBox"
                             class="col-xl-5 col-sm-12 d-sm-flex position-relative mb-xl-0 mb-3">
                          <div class="input-group position-relative">
<!--                            <span class="input-group-text ms-1 bg-light ps-3 pe-0>-->
<!--                                 <i class="ri-map-pin-fill fs-4 text-secondary"></i>-->
<!--                            </span>-->
                            <input type="text" id="departureInputField"
                                   class="form-control py-xl-2 py-4 rounded-end border-start-0 text-muted fs-5 fw-semibold focus-ring z-0 bg-light"
                                   placeholder="From Where?"
                                   >
                            <input type="hidden" name="departure_location_id[]"
                                   id="departure_location_id">
                            <ul id="formLocation"
                                class="card card-body position-absolute rounded left-0 d-none z-3"
                                style="margin: 4.5rem 0 0 0;">

                            </ul>
                          </div>
                          <div class="input-group mt-sm-0 mt-1">
                            <span
                                    class="input-group-text ms-1 bg-light ps-4 pe-0 position-relative"
                                   >
                                <i class="ri-map-pin-fill fs-4 text-secondary "></i>
                            </span>
                            <input type="search" id="arrialInputField"
                                   class="form-control py-xl-2 py-4 rounded-end focus-ring border-start-0 text-muted fs-5 fw-semibold bg-light"

                                   placeholder="To Where?">
                            <input type="hidden" id="arrival_location_id"
                                   name="arrival_location_id[]">
                            <ul id="whereLocation"
                                class="card card-body position-absolute rounded left-0 d-none z-3"
                                style="margin: 4.5rem 0 0 0;">
                            </ul>
                          </div>
                          <button type="button" id="convertBtn"
                                  class="bg-light position-absolute start-50 top-50 translate-middle rounded-circle fs-4 text-primary py-0 px-2 z-3 convert_btn">
                            <i class="ri-arrow-left-right-line d-sm-block d-none"></i>
                            <i class="ri-arrow-up-down-line d-sm-none d-block"></i>
                          </button>
                        </div>
                        <div class="col-xl-7 col-sm-12 ps-xl-0 ps-3 mt-xl-0">
                          <div class="row">
                            <div
                                 class="col-md-3 col-sm-6 col-12 mb-md-0 mb-3 cursor"
                                 data-bs-toggle="modal" data-bs-target="#departure_date-modal"
                                 style="cursor: pointer;">
                              <input type="hidden" id="departureDateInput"
                                     name="departure_date[]">
                              <div class="bg-light border border-1 border-secondary rounded px-2 d-flex align-items-center py-2 w-100 trigger">
                                <span class="ps-1 pe-3 fs-4">
                                    <i class="ri-calendar-todo-fill"></i>
                                </span>
                                <div id="departureDateIsNotEmpty" class="d-none">
                                  <span class="text-dark fs-6 fw-bold"><span
                                    id="departure_mounth"></span> <span
                                    id="departure_day"></span></span><br>
                                  <span class="text-muted" id="departure_year"></span>
                                </div>
                                <div id="departureDateEmpty">
                                  <span class="fs-6 fw-normal text-muted">Depart</span><br>
                                  <span class="fs-6 fw-normal text-muted">Date</span>
                                </div>
                              </div>
                            </div>
                            <div id="returnDate"
                                 class="col-md-3 col-sm-6 col-12 mb-sm-0 mb-3 cursor"
                                 data-bs-toggle="modal" data-bs-target="#arrival_date-modal"
                                 style="cursor: pointer;">

                              <input type="hidden" id="arrivalDateInput"
                                     name="arrival_date">
                              <div class="bg-light border border-1 border-secondary rounded px-2 d-flex align-items-center py-2">
                                <span class="ps-1 pe-3 fs-4"><i
                                        class="ri-calendar-todo-fill"></i></span>
                                <div id="arrivalDateIsNotEmpty" class="d-none">
                                  <span class="text-dark fs-6 fw-bold">
                                    <span
                                          id="arrival_month"></span>
                                    <span
                                          id="arrival_day"></span>
                                  </span>
                                  <br>
                                  <span class="text-muted" id="arrival_year"></span>
                                </div>
                                <div id="arrivalDateEmpty">
                                <span
                                        class="text-muted fs-6 fw-normal">Return</span><br>
                                  <span class="text-muted fs-6 fw-normal"
                                        >Date</span>
                                </div>
                              </div>
                            </div>
                            <div id="travel"
                                 class="col-md-3 col-sm-6 col-12 position-relative"
                                 style="cursor: pointer;">
                              <input type="hidden" id="personInput" name="seats">
                              <div class="bg-light border border-1 border-secondary rounded px-2 d-flex align-items-center h-100 py-md-0 py-2"
                                   onclick="selectPerson()">
                                    <span class="ps-1 pe-3 fs-4"><i
                                            class="ri-user-fill"></i></span>
                                <div class="">
                                    <span class="text-dark fs-6 fw-bold"
                                          id="person">0</span><br>
                                  <span class="text-muted">Travel</span>
                                </div>
                              </div>
                            </div>
                            <div id="searchFilterBtn"
                                 class="col-md-3 col-sm-6 col-12 mt-md-0 mt-3">
                              <button  type="submit"
                                      class="btn btn-warning h-100 fs-6 fw-bold text-light w-100">Search
                                Flights</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div id="multipleField" class="col-md-12 pt-2 d-none">
                      <div class="row">
                        <div class="col-xl-5 col-sm-12 d-sm-flex">
                          <div class="input-group position-relative">
                            <span class="input-group-text ms-1 bg-light ps-3 pe-0"
                                  >
                                <i class="ri-map-pin-fill fs-4 text-secondary"></i>
                            </span>
                            <input type="text"
                                   class="form-control py-xl-2 py-4 rounded-end border-start-0 text-muted fs-5 fw-semibold focus-ring z-0 bg-light"
                                   placeholder="From Where?"
                                   >
                            <div class="card rounded w-100 position-absolute left-0 d-none"
                                 style="margin: 4.5rem 0 0 0;">
                              <ul class="">
                                <li class=" list-unstyled py-2">sdfsdf</li>
                              </ul>
                            </div>
                          </div>
                          <div class="input-group mt-sm-0 mt-1 position-relative">
                            <span class="input-group-text ms-1 bg-light ps-4 pe-0"
                                  id="basic-addon1">
                                <i class="ri-map-pin-fill fs-4 text-secondary "></i>
                            </span>
                            <input type="text"
                                   class="form-control py-xl-2 py-4 rounded-end focus-ring border-start-0 text-muted fs-5 fw-semibold bg-light"

                                   placeholder="To Where?">
                            <div class="card rounded w-100 position-absolute left-0 d-none"
                                 style="margin: 4.5rem 0 0 0;">
                              <ul class="">
                                <li class=" list-unstyled py-2">sdfsdf</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-7 col-sm-12 ps-xl-0 ps-3 mt-xl-0 mt-3 ">
                          <div class="row">
                            <div id="formDate" class="col-md-4 col-sm-6 col-12"
                                 data-bs-toggle="modal"
                                 data-bs-target="#departure_date_second-modal"
                                 style="cursor: pointer;">
                              <div id="departureDateSecondIsEmpty"
                                   class="bg-light border border-1 border-secondary rounded px-2 d-flex align-items-center py-2 w-100">
                                                                    <span class="ps-1 pe-3 fs-4"><i
                                                                            class="ri-calendar-todo-fill"></i></span>
                                <div class="">
                                  <span class="text-muted fs-6 fw-normal">Depart</span><br>
                                  <span class="text-muted fs-6 fw-normal"
                                        id="departureDateSecondYear">Date</span>
                                </div>
                              </div>
                              <input type="hidden" id="departureDateSecondInput"
                                     name="departure_date[]">
                              <div id="departureDateSecondIsNotEmpty"
                                   class="d-none bg-light border border-1 border-secondary rounded px-2 d-flex align-items-center py-2 w-100">
                                                                    <span class="ps-1 pe-3 fs-4"><i
                                                                            class="ri-calendar-todo-fill"></i></span>
                                <div class="">
                                  <span class="text-dark fs-6 fw-bold"><span id="departureDateSecondMonth">Oct</span> <span id="departureDateSecondDay">20</span></span><br>
                                  <span class="text-muted">2023</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div id="secondSearchFlightBtn" class="col-md-12 pt-3 d-none">
                      <button id="searchFlightBtn" type="submit"
                              class="btn btn-warning h-100 fs-6 fw-bold text-light w-100">Search
                        Flights</button>
                    </div>

                    <div class="col-md-12 py-3 px-3">
                      <div class="row">
                        <div class="col-md-9 d-lg-flex">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="return"
                                   value="option1">
                            <label class="form-check-label text-muted" for="return">Return
                              to or from another city/airport?</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox"
                                   id="direct_flight" value="option1">
                            <label class="form-check-label text-muted"
                                   for="direct_flight">Direct Flights</label>
                          </div>
                        </div>
                        <div id="actionBtn" class="col-md-3 text-lg-end d-none mt-lg-0 mt-2">
                          <button id="add_flight" type="button"
                                  class="text-capitalize border-0 bg-transparent text-primary me-3 fs-6 fw-semibold">
                            <i class="ri-add-line"></i> add flight</button>
                          <button id="allClearBtn" type="button"
                                  class="text-capitalize border-0 bg-transparent text-danger fs-6 fw-semibold"
                                  onclick="allClear()">
                            <i class="ri-delete-bin-6-line"></i> all clear</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <!-- <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>

                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div> -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal animated zoomIn" id="departure_date-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" >Departure Date</h6>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <form id="departureDateForm" class="col-12 p-3">
                <input type="date" onchange="departureDate(event)" id="departure_date" class="form-control">
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="modal-close" onclick="closeDepartrueDate()" class="btn btn-sm btn-danger" data-bs-dismiss="modal"
                  aria-label="Close">Close</button>
          <button  onclick="departureDateSet()" class="btn btn-sm  btn-primary">Set Date</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal animated zoomIn" id="departure_date_second-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Departure Date</h6>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <form id="departureDateSecondForm" class="col-12 p-3">
                <input type="date" onchange="departureSecondDate(event)" id="departure_date_second"
                       class="form-control">
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="departSecondModalClose" onclick="closeDepartrueSecondDate()" class="btn btn-sm btn-danger"
                  data-bs-dismiss="modal" aria-label="Close">Close</button>
          <button onclick="departureSecondDateSet()" class="btn btn-sm  btn-primary">Set Date</button>
        </div>
      </div>
    </div>
  </div>
  <div class="seamless_travel_bg mt-5">
    <div class="seamless_travel_bg_grandient_color" style="
    background: rgb(13,110,253);
    background: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(13,110,253,1) 50%, rgba(13,110,253,0) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-12 py-5 text-light">
            <div class="row">
              <div class="col-md-6">
                <h2 class="fs-1 fw-bolder">Seamless travel made easy</h2>
                <p class="fs-6 fw-normal mt-3">Book and manage flights on the go. Jet off on app-exclusive
                  fares. Enjoy unlimited access to digital content. Travel
                  seamlessly with the flightexpert.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<!-- =========================footer start =========================-->
<footer class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-capitalize text-light text-center py-4">
        <h6 class="fs-6 fw-semibold">Copyright &copy;2023 All rights reserved by Flight Expert</h6>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" th:src="@{/frontend/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/frontend/js/main.js}"></script>

</body>

</html>
